@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(
      145deg,
      #171819,
      #000,
      #171819,
      #000,
      #171819,
      #000,
      #171819
    )
    no-repeat;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.onload {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000
    url("https://media.giphy.com/media/WiIuC6fAOoXD2/giphy.gif") no-repeat
    center center;
  background-size: 15%;
  z-index: 1212;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: relative;
}
header ul .nav-link {
  padding: 10px;
  margin: 0px 10px;
  border-radius: 3px;
  transition: 0.4s;
  color: #fff4f4;
  position: relative;
  outline: 0.1px dashed rgb(139, 32, 32);
}
header ul .nav-link:focus {
  color: tomato;
}
header ul .nav-link:hover {
  color: #000;
  background-color: violet;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  transition: 0.4s;
  outline: transparent;
}
.logo img {
  height: 40px;
}
.logo .nav-link:hover {
  background-color: transparent;
  color: #dadada;
  background-color: #973c3c;
}
header ul .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transition: 1s;
}
header ul .nav-link:hover::after {
  background-color: #ce0000;
  transition: 1s;
}
.bar {
  cursor: pointer;
  z-index: 3;
}
.bar .fa-bars {
  color: #fefefe;
  margin-right: 10px;
  font-size: 25px;
}
.section-1 .card {
  border: 3px solid #90c3db;
  border-radius: 16px;
  box-shadow: 1px 1px 5px #fff;
  z-index: 2;
}
.section-1 .card:hover {
  box-shadow: 1px 1px 10px #24c8dd;
}
.section-1 p {
  color: #1578a7;
}
.section-1 h1 {
  color: #9b59b6;
}
.section-1 .h4 {
  line-height: 45px;
  font-weight: 400;
}
.section-2 .row {
  border-radius: 20px;
  gap: 30px;
}
.section-2 .col-md {
  border-radius: 6px;
  box-shadow: 0px 0px 5px 3px #90c3db;
  margin: 20px;
}
.section-2 .col-md:hover {
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px #24c8dd;
  transform: scale(1.05, 1.05);
}
.section-2 h4 {
  color: #9b59b6;
}
.section-2 p {
  color: #1578a7;
}
.section-3 .card {
  border-radius: 6px;
  box-shadow: 0px 0px 2px 3px #90c3db;
}
.section-3 .card:hover {
  box-shadow: 0px 0px 2px 5px #24c8dd;
  transform: scale(1.004, 1.02);
}
.carousel-inner img{
  border-radius: 10px;
}
footer{
  min-height: 300px;
}
footer img{
  height: 200px;
  border-radius: 6px;
  margin:15px 0px;
}
footer .row{
  display: flex;
  align-items: center;
}
footer .forborder{
  border-right:1px solid rgb(255, 255, 255);
}
/* Resposive */
@media (max-width: 1440px) {
  .carousel-inner img {
    height: 600px;
  }
}
@media (max-width: 1200px) {
  .carousel-inner img {
    height: 550px;
  }
}
@media (max-width: 992px) {
  .navbar .nav-link {
    margin: 0px 5px;
  }
  .onload {
    background-size: 30%;
  }
  .section-1 .card {
    margin: 0px 60px;
  }
  .section-2 .row {
    display: grid;
    grid-template-columns: auto;
    margin: 0px 30px;
  }
  .carousel-inner img {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .logo {
    top: 10px;
    z-index: 12123;
  }
  .bar {
    position: fixed;
    right: 0;
  }
  .navbar {
    position: absolute;
    right: -1040px;
    top: -1040px;
    transition: 0.8s;
    z-index: 3;
  }
  .toggle_bar {
    right: 0px;
    top: 0px;
    transition: 0.8s;
    height: 90vh;
  }
  .navbar {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        145deg,
        #171819,
        #000,
        #171819,
        #000,
        #171819,
        #000,
        #171819
      )
      no-repeat;
    position: fixed;
  }
  .navbar .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .navbar .nav .nav-link {
    padding: 10px 30px;
  }
  .section-1 .card {
    margin: 0px 20px;
  }
  .section-1 .h4 {
    line-height: 30px;
    font-weight: 400;
  }
  .section-2 {
    margin: 0px 10px;
  }
  .section-3 {
    margin: 0px 30px;
  }
  .carousel-inner img {
    height: 350px;
  }
  footer .forborder{
    border-right:none;
  }
}
@media (max-width: 576px) {
  .section-2 {
    margin: 0px 30px;
  }
  .section-2 .row {
    gap: 0px;
  }
}
